.how-works {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 32px;
}

.payment-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 360;
  line-height: 16px;
  font-size: 16px;
}

.steps {
  color: #595959;
  font-size: 16px;
  line-height: 16px;
}

.titles {
  color: #002766;
  font-size: 24px;
  line-height: 16px;
  padding-top: 32px;
}

.descriptions {
  color: rgba(0, 0, 0, 0.8);
  line-height: 25.6px;
  font-size: 16px;
  max-width: 400px;
  padding-bottom: 30px;
}

.merchant-img:hover {
  transform: scale(1.06, 1.06);
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 480px) {


  .payment-steps {
    margin-top: 8px;
    padding-bottom: 40px;
  }

  .top-part {
    margin-top: -6.5rem;
  }

  .merchant-img1 {
    margin-top: -48px;
  }

  .titles {
    font-size: 24px;
    line-height: 32px;
  }

  .descriptions {
    line-height: 24px;
    font-size: 16px;
    padding-bottom: 95px;
  }
}
